*,*::before,*::after{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    background-color: #1f1f1f;
}
.maincontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e;
    width: 90rem;
    height:60rem;
}
.popup{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}
.popupinput{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #696868;
    height: 50%;
    width: 50%;
    padding: 2rem;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    height:90%;
    width: 100%;
}
.inputs div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    
}
.inputs .text{
    height: 100%;
    width: 70%;
    font-size: 2rem;
    text-align: center;
    box-shadow: none;
    border: none;
    background-color: #b3b2b2;
}
.inputs .notes{
    font-size:1rem;
    height: 100%;
    width: 70%;
    text-align: center;
    box-shadow: none;
    border: none;
    background-color: #b3b2b2;
}
.two .date{
    font-size: 1rem;
    text-align: center;
    height:70%;
    width: 25%;
    background-color: #b3b2b2;
    border: none;

}
.one button{
    cursor: pointer;
    border: none;
    height:50%;
    width: 15%;
    font-size: 1rem;
    background-color: rgb(244, 165, 165);
    margin-right:2.5rem;
}
.radios{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11%;
    width: 100%;
}
.radios div label{
    margin-right: 1rem;
}
.confirm{
    cursor: pointer;
    border: none;
    height:100%;
    width: 25%;
    font-size: 1.5rem;
    background-color: rgb(165, 244, 199);

}
